* {
    font-family: 'Roboto', sans-serif;
}

button {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 20px;
    border: none;
    font-size: 32px;
    color: white;
    background-color: rgb(27, 179, 179);
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(243, 241, 216);
}

h1 { 
    font-size: 28px; 
    text-align: left; 
    font-weight: 400; 
    padding: 20px;
    margin-top: 40px;
}


