* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: rgb(180, 224, 242);
  }

.container {
    margin: 10px auto;
    width: 70%;
    height: auto;
    border-radius: 5px;
    background: white;
    padding: 25px;
}

#addEvent {
    float: right;
    height: 42px;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    font-size: 20px;
    color: white;
    background-color: rgb(27, 179, 179);
}

h1 { 
    font-size: 28px; 
    text-align: left; 
    font-weight: 400; 
    padding: 20px;
    margin-top: 40px;
}


